/*Footer section styles start here */

/*--- footer ---*/

.page-footer {

    background-color: #000000;

    padding: 20px 0 40px;
}

.footer-copyright {
    color: #666;

}
#image-op{
    opacity: 0.3;
    filter: alpha(opacity=50);
}
#image-con{
    opacity: 0.25;
    filter: alpha(opacity=80);
}


#footer-image{
    width:30px;
    height:30px;
    margin-right: 1em;
}


.nav-link:hover{
    color:#ffffff;
}


.headerSection{
    height:70px;
    background-color: #000000;

    padding:0;

}

.navbar-collapse {
    justify-content: center;
}

.bg-dark {
    background-color: #000000!important;
}

.logo{
    background:#000000;
    border: 0.5px solid #ffffff;
    border-radius: 50%;
    padding:5px;
    font-family:impact;
}

.nav-header-list{

    justify-content:bottom;
    width:200px;
    height:inherit;
    margin-left:100px;
    margin-right:100px;
}

a{
    color: #ffffff;
}


.wellcontainer{
    padding:30px;
}

.media-body{
    padding:30px;
}
.new{
    border: 1px solid powderblue;
    border-radius: 1px;
}
.box-of-login{
    border:1px solid black;
    color:black;
    display:inline;
    padding:3px;

}
.container-fluid{
    padding-left:0;
    padding-right:0;
}

.navbar-brand {
    color: #fff;
    cursor: pointer;
    color:black;
    padding:2px;
    border:1px solid white;
    border-radius:5px;
    background:white;
}

.navbar-brand:hover{
    color:white;
    font-family:helvetica;
    padding:2px;
    background:black;
    border-radius:5px;
}

.logo-brand{
    width:45px;
    height:40px;
}

.login-brand{
    width:45px;
    height:40px;
    border-radius:50%;
}

.btn-group, .btn-secondary, .dropdown-toggle {
    color: #ffffff;
    background-color: black;
    border: none;
    padding: 5px 5px;
}

/* Header section styles end here */

.jumbotron{
    background-image: url("https://media.giphy.com/media/NTjttsSu1t5KbOifz0/giphy.gif") ;
    background-size: cover;
    height: 100%;
    width: 100%;
}
